/* #4e6e81 */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0
}

hr {
  margin: 5% auto 5% auto;
  border-style: none;
  border-top-style: dotted;
  border-color:  #4e6e81;
  border-width: 5px;
  width: 5%;
  opacity: 50%
}


.nav-link, #name_section, #email_section, .profile-headline, .about-title-page,
.project-page-title, p, .skills-set-title, li, a, label, .contact-me-title, h1, .send_message_button{
  font-family: 'Montserrat', sans-serif;
  color: #4e6e81;
}

.project-page-title {
  margin: 10% auto 2.5% auto;
}

.project-page-sub-title {
  margin-bottom: 5%
}

.about-headline-div {
  position: relative;

}

.about-headline {
  font-size: 1.8em;
}

.nav-link {
  padding-bottom: 10px;
  text-decoration: none;
}

.nav-link:hover{
    background-color: #93BFCF;
    border-radius: 50px;
    text-decoration: none;
    color: #4e6e81;
}

.header-divider {
  position: absolute;
  left: 10%;
  top: 5%;
  width: 76%;
  border: solid #4e6e81;
}

li {
  list-style: none;
}

@media only screen and (max-width: 400px) {
    .item-in-row {
        width:175%;
        padding-left:100%;
    }
}

@media (max-width: 886px) {
  .header-divider {
    top:12%
  }

  .profile-picture {
    display: none;
  }
}


/* MOBILE SCREEN SIZE----------------------------------------------------*/
@media (max-width: 990px)  {

  #name_section {
    font-size: 50%;
  }

  .name-label {
    margin-top: 10%
  }

  #name_section, #project-title {
    font-size: 50%;
  }

/* Contact Me Section*/
  .contact-me-information {
    margin-bottom: 15%;
  }

  .contact-information, .contact-me-title{
    font-size: 2em;
  }
  .social-media-icon-div {
    padding-top: 4%;
    font-size: 1.5em;
  }

  .button_download_resume_bottom {
    width: 40%;
  }

  .button_download_resume {
    width: 40%;
  }

  #resume_button_bottom a button {
    font-size: 150%;
  }

  #resume_button_bottom {
    margin-top: 10%;
    padding-bottom: 10%
  }

  #resume_button_top a {
    font-size: 150%;
  }

    /* Send Message Form*/
    .form_field {
        height:35px;
        border: 0.5px solid #4e6e81;
    }

    .form_label {
        font-size: 2em;
    }

    .send_message_button{
        width: 40%;
        font-size: 2000em;   /* CEK KENAPA TIDAK BISA MEMPERBESAR FONT DI SEND MESSAGE BUTTON*/
    }

    /* About Page */
    .image-container {
        padding-top: -5em;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .image-container img {
        max-width: 100%;
        max-height: 100%;
    }

    /* Skills Set*/
    .skills-set-list ul li{
        font-size: 1.5em;
    }

    .professional-highlight {
        font-size: 2em;
    }
    /* Home page*/
    #name_section p{
        font-size: 5.5em;
        margin-top: 5%;
    }

    #email_section p {
        font-size: 1.5em;
        margin-bottom: 5%;
    }

    .button_browse_project {
        width: 30%;
    }

    #project_button a button{
        font-size:150%;
    }
}

@media (max-width: 767px)  {
  .header-divider {
    top:12%
  }

  #name_section, #project-title {
    font-size: 50%;
  }

  .name-label {
    margin-top: 20%
  }
}

.button_browse_project, .button_download_resume{
  background-color: #4e6e81;
  font-weight: bold;
  color: white;
  margin: 0.5% auto 2% 39%;
}

.button_download_resume_bottom {
  background-color: #4e6e81;
  font-weight: bold;
  color: white;
  font-size: 110%
}

.glasses {
  display:inline;
  width: 40%;
  height: 40%;
  margin: 11% auto 6.8% 29%;
}

.profile-name {
  font-size: 300%;
}

.email_link:hover {
  text-decoration: none;
  color: #4e6e81
}
.email_link {
  text-decoration: none;
  color: #4e6e81
}

.profile-picture {
  width: 50%;
  height: 50%;
}

#about-page {
  background-color: white;
  margin-top: 85px;
  padding: 8% 10%;
}

#projects-page {
  padding: 2% 2%;
}

.projects-card {
  margin-left: 1%;
  margin-right: 1%;
  border-radius:40px;
  height: 500px;
  transition: transform 0.3s ease;
  margin-top: 2%;
}

.projects-card:hover {
    transform: scale(1.04);
    box-shadow: 0 1px 10px rgba(78, 110, 129, 0.8);
}

.all_projects-card {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10%;
  border-radius:40px;
  height: 400px;
  transition: transform 0.3s ease;
}

.all_projects-card:hover {
    transform: scale(1.04);
    box-shadow: 0 1px 10px rgba(78, 110, 129, 0.8);
}
.all_projects-card {
    margin-left:0.5%;
}

.social-media-button {
  cursor: pointer;
  border: none;
  background-color: white;]
}

.button-link:hover {
  text-decoration: none;
  color: #4e6e81;
}

.nav-menu ul li a {
  font-size: 1.4rem;
}

.new-nav-menu ul li a {
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .nav-menu ul li a {
    font-size: 1rem;
  }
}

.image-container {
    margin-top: 140px;
}

#resume_button_top, #resume_button_bottom {
  padding-top: 5%
}

.projects-button {
  width: 120px;
  background-color: #4e6e81;
  font-weight: bold;
  color: white;

}

.contact {
  background-color: #93BFCF;
  border-radius: 50px; /* Use a higher value for a more rounded effect */
}

.contact:hover{
  border-bottom: none;
}

.skill-set-row {
  margin-top: 7%
}

.skills-set-li {
  display: inline-block;
  padding: 0 3% 0 3%;
}

.skills-set-hr {
  margin-top: 3%;
}

.skills-set-list {
    padding: 0.1% 10%;
    padding-bottom: 5%;
    line-height: 3;
}

.br-skills-set-li {
    padding: 20%;
}

.card-body {
    padding-bottom: 20%;
}

.see_more_div {
  margin-top: 3%;
}

.see_more_link {
  padding-right: 0.5em;
}

.see_more_link:hover {
  text-decoration: none;
  color: #4e6e81;
}

.fa-circle, .fa-arrow-right {
  color:#4e6e81;
}

.contact-section {
  background-color: white;
  margin-top: 150px;
  margin-bottom:100px;
  padding: 9% 10%;
}

.contact-information {
  margin-top: 5%;
}

.contact-me-icon{
  margin-right: 5%
}

.social-media-icon-div {
  margin-top: 5%;
}
/* -------------------------- */
#project-title {
  padding-top: 4%;
/*  background-color: white;*/
  margin-top:5%;
  margin-left: 27%;
  margin-right: 27%;
}

.project-gif {
  display: inline;
  width: 50%;
  height: auto;
  margin: 4% auto 6.8% 25%;
}

.project-name {
  font-size: 300%;
}

.home-back-button {
  font-size: 150%;
  position: absolute;
  margin-top: 1%;
  margin-left: 2%;
}

#project-details, #code-sample-section, #add-project {
  margin-left: 27%;
  margin-right: 27%;
}

#add-project {
    margin-top: 6%;
    margin-bottom: 6%;
}

.line-numbers {
  margin-top: 5%;
  margin-bottom: 25%;
  background-color: black;
  color: white;
}

pre {
  box-shadow: 10px 10px 5px gray;
  border-radius: 2%;
}


/* -------------------- */
ul.text-center {
    padding: 0%;
}

/* Footer */
#footer-section {
    margin-bottom:50px;
}

/* Pagination */
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

/* submit button wtf form */
.send_message_button {
  background-color: #4e6e81;
  color: white;
  height: 2.5rem;;
  border: none;
  margin-top:3%;
  font-size: 110%;
}

.textarea-form {
    width:90%;
    height:100px;
}

.form_field {
    width:90%;
    border: 0.5px solid #4e6e81;
}

/* flash message area */
.flash-message {
    position: fixed;
    width: 300px;
    height:11%;
    z-index: 9999;
    right:1%;
    top:2%;
    border: 2px ;
}

/* add - project page*/
#add-project {
    margin
}

.project_name_field {
    width:100%;
}

/* Pagination */
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.card-img-top {
    width:100%;
    height:45%;
    margin-top:3%;
    border-radius:30px;
}


.pagination {
  margin: 0%;
}

.carousel.slide {
    width: 150%; /* or any other value */
    /* other CSS properties */
}

.carousel-item {
    width: 60%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: #4e6e81;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: #4e6e81;
}

.item-in-row {
    width:175%;
    padding-left:25%;
    padding-bottom:2.5%;
}

.items-box {
    margin-bottom:4%;
}

#new-nav-header {
  display: none;
  position: fixed;
  top: 25%;
  right:2%;
  background-color: rgba(128,128,128, 0.2);
  border-radius:550px;
  z-index: 999;
  width:45px;
  height:300px;
}

.hover-text {
  display: none; /* Initially hide the text */
}

.nav-link:hover .hover-text{
  display: inline; /* Display the text on link hover */
}

.fa-address-card:hover i{
    display:none
}

.nav-link:hover{
  text-align: center;
}

.see_more_projects a{
    font-size:110%;
    text-decoration: none;
    position:absolute;
    top:44%;
    left: 120%;
    width: 200%
}

.see_more_projects:hover a{
    color: #4e6e81;
}

.no-project-list {
    position: absolute;
    top: 50%
}

.giphy-embed{
    margin-top:3%;
    margin-left: 40%;
    width:20%;
    border-radius:10%;
}