/* #4e6e81 */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0
}

hr {
  margin: 5% auto 5% auto;
  border-style: none;
  border-top-style: dotted;
  border-color:  #4e6e81;
  border-width: 5px;
  width: 5%;
  opacity: 50%
}


.nav-link, #name_section, #email_section, .profile-headline, .about-title-page,
.project-page-title, p, .skills-set-title, li, a, label, .contact-me-title, h1, .send_message_button, .chat-button, .send-button{
  font-family: 'Montserrat', sans-serif;
  color: #4e6e81;
}

.navbar-toggler {
    width: 100px;
    height: 100px;
    color: #4e6e81;
}

.toggle-button {
    color: #4e6e81;
}


.project-page-title {
  margin: 10% auto 2.5% auto;
}

.project-page-sub-title {
  margin-bottom: 5%
}

.about-headline-div {
  position: relative;

}

.about-headline {
  font-size: 1.8em;
}

.nav-link {
  padding-bottom: 10px;
  text-decoration: none;
}

.nav-link:hover{
    background-color: #93BFCF;
    border-radius: 50px;
    text-decoration: none;
    color: #4e6e81;
}

.header-divider {
  position: absolute;
  left: 10%;
  top: 5%;
  width: 76%;
  border: solid #4e6e81;
}

li {
  list-style: none;
}

@media only screen and (max-width: 400px) {
    .item-in-row {
        width:175%;
        padding-left:100%;
    }
}

@media (max-width: 886px) {
  .header-divider {
    top:12%
  }

  .profile-picture {
    display: none;
  }
}



.new-nav-responsive-laptop, .new-nav-responsive-mobile {
    display: none;
}


/* MOBILE SCREEN SIZE----------------------------------------------------*/
@media (max-width: 990px)  {

    /*Sending Message Button Loader*/

    @keyframes ldio-hgg29vfqb7 {
       0% { transform: translate(6px,40px) scale(0); }
      25% { transform: translate(6px,40px) scale(0); }
      50% { transform: translate(6px,40px) scale(1); }
      75% { transform: translate(40px,40px) scale(1); }
     100% { transform: translate(74px,40px) scale(1); }
    }
    @keyframes ldio-hgg29vfqb7-r {
       0% { transform: translate(74px,40px) scale(1): }
     100% { transform: translate(74px,40px) scale(0); }
    }
    @keyframes ldio-hgg29vfqb7-c {
       0% { background: #ffffff }
      25% { background: #ffffff }
      50% { background: #ffffff }
      75% { background: #ffffff }
     100% { background: #ffffff }
    }
    .ldio-hgg29vfqb7 div {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transform: translate(40px,40px) scale(1);
      background: #ffffff;
      animation: ldio-hgg29vfqb7 1s infinite cubic-bezier(0,0.5,0.5,1);
    }
    .ldio-hgg29vfqb7 div:nth-child(1) {
      background: #ffffff;
      transform: translate(74px,40px) scale(1);
      animation: ldio-hgg29vfqb7-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ldio-hgg29vfqb7-c 1s infinite step-start;
    }.ldio-hgg29vfqb7 div:nth-child(2) {
      animation-delay: -0.25s;
      background: #ffffff;
    }.ldio-hgg29vfqb7 div:nth-child(3) {
      animation-delay: -0.5s;
      background: #ffffff;
    }.ldio-hgg29vfqb7 div:nth-child(4) {
      animation-delay: -0.75s;
      background: #ffffff;
    }.ldio-hgg29vfqb7 div:nth-child(5) {
      animation-delay: -1s;
      background: #ffffff;
    }
    .loadingio-spinner-ellipsis-9bjzhgpuh39 {
      width: 26px;
      height: 26px;
      display: inline-block;
      overflow: hidden;
      background: none;
    }
    .ldio-hgg29vfqb7 {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(0.26);
      backface-visibility: hidden;
      transform-origin: 0 0; /* see note above */
    }
    .ldio-hgg29vfqb7 div { box-sizing: content-box; }
    /* generated by https://loading.io/ */

    #submit_button:disabled, #submit_button_project_details_page:disabled{
        display: flex;
        background-color: rgba(78, 110, 129); /* Same background color as enabled state */
        color: #ffffff; /* Same text color as enabled state */
        opacity: 1; /* Reduce opacity to indicate it's disabled */
        cursor: not-allowed;
    }

    .inside-send-button {
        justify-content: flex-start;
        font-size: 110%;
    }

    .loadingio-spinner-ellipsis-9bjzhgpuh39{
        align-items: flex-end;
        font-size: 1000px;
        margin-top: 25px;
    }

    /* flash message area */
    .flash-message {
        position: fixed;
        width: 98%;
        height:5.5%;
        z-index: 9999;
        right:1%;
        top:2%;
        border: 2px;
        font-size: 30px;
    }

    .name-label {
        margin-top: 10%
    }

    #name_section {
        font-size: 65%;
    }

    /* Contact Me Section*/
    .contact-me-information {
        margin-bottom: 15%;
    }

    .contact-information{
        font-size: 2em;
    }

    .contact-me-title {
        font-size: 40px;
        margin-bottom: 10%;
    }

    .social-media-icon-div {
        padding-top: 4%;
        font-size: 1.5em;
    }

    .button_download_resume_bottom {
        width: 40%;
    }

    .button_download_resume {
        width: 50%;
        height: 80px;;
    }

    #resume_button_bottom a button {
        font-size: 190%;
    }

    #resume_button_bottom {
        margin-top: 10%;
        padding-bottom: 10%
    }

    #resume_button_top a {
        font-size: 150%;
    }

    /* Send Message Form*/
    .form_field {
        height:60px;
        width: 100%;
        border: 0.5px solid #4e6e81;
        font-size: 40px;
        color: #4e6e81;
    }

    .textarea-form {
        height:200px;
    }

    .form_label {
        font-size: 2em;
    }

    .send_message_button{
        margin-top: 5%;
        width: 40%;
        font-size: 2em;   /* CEK KENAPA TIDAK BISA MEMPERBESAR FONT DI SEND MESSAGE BUTTON*/
    }

    /* About Page */
    .image-container {
        padding-top: -5em;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .image-container img {
        max-width: 100%;
        max-height: 100%;
    }

    /* Skills Set*/

    .skills-set-title {
        font-size: 40px;
        margin-bottom: 5%;
    }

    .skills-set-list ul li{
        font-size: 1.7em;
    }

    .professional-highlight {
        font-size: 2em;
    }
    /* Home page*/
    #name_section p{
        font-size: 5.5em;
        margin-top: 5%;
    }

    #email_section p {
        font-size: 1.5em;
        margin-bottom: 5%;
    }

    .button_browse_project {
        width: 50%;
        height:100px;
        font-size: 100px;
    }

    #project_button a button{
        font-size:250%;
        margin-bottom: 65%;
        margin-top:10%;
    }

    .logo-glasses img{
        width: 70%;
        position: relative;
        right: 140px;
        margin-bottom: 2%;
        margin-top: 50%;
    }

    /* Project list on mobile screen*/
    .projects_list_laptop_screen {
        display: none;
    }

    #carouselExampleControls-mobile {
        margin-top:5%;
    }

    .footer p{
        font-size: 150%;
    }

    /* Bootstrap Card*/

    .projects-card {
        left: 15%;
    }

    .projects-card {
        margin-left: 1%;
        margin-right: 1%;
        border-radius:40px;
        width: 100px;
        height: 700px;
        transition: transform 0.3s ease;
        margin-top: 5%;
        box-shadow: 0 1px 15px rgba(78, 110, 129, 1);
    }

    /* Header Menu */
    .nav-menu ul li a {
        font-size: 40px;
    }

    .contact {
        margin-top:10%;
    }

    .header-divider {
        display: none;
        position: block;
        top: 10%;
    }

    #new-nav-header {
        position: fixed;
        top: 25%;
        right:2%;
        background-color: rgba(128,128,128, 0.2);
        border-radius:550px;
        z-index: 999;
        width:8%;
        height: 455px;
        display: none;
    }

    .new-nav-menu ul li a i{
        font-size: 250%;
        margin-top: 40px;
    }

    .hover-text {
        display: none; /* Initially hide the text */
    }

    .nav-link:hover .hover-text{
        display: inline; /* Display the text on link hover */
    }

    .hover-text {
        font-size: 20px;
        padding-top: 100px;
    }

    /* Project Page */

    .project-page-title h2{
        font-size: 40px;
    }


    /*Chat with me button*/
    .chat-button i {
        position: fixed;
        bottom: 6%;
        left: 3.5%;
        font-size: 5em;
        z-index: 999;
        color: rgba(78, 110, 129);
        transition: transform 0.3s ease;
    }


    /* Styles for the chat container ---------------------------- */
    .chat-container {
        -webkit-overflow-scrolling: touch;
        z-index: 999;
        display: none;
        position: fixed;
        bottom: 13%;
        left: 2%;
        width: 96%;
        height: 1500px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        align-items: stretch;
        box-shadow: 0 1px 15px rgba(78, 110, 129, 0.5);
        transition: transform 0.3s ease-in-out; /* Add transition for smooth opening/closing */
    }

    .chat-container.open {
        transform: translateY(0);
    }

    /* Styles for the chat header */
    .chat-header {
        position: relative;
        height: 100px;
        border-radius: 10px 10px 0 0;
        background-color: rgba(78, 110, 129);
        color: white;
        padding: 10px;
    }

    .chat-header-title{
        position: relative;
        font-size: 100rem;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        left: 350px;
    }

    /* Styles for the close button in the header */
    .close-chat {
        position: relative;
        bottom: 4rem;
        float: right;
        color: white;
    }

    /* Styles for the chat body */
    #front-message {
        position: relative;
        top: 20px;
        height:60px;
        width: 80%;
        border: 0.5px solid #4e6e81;
        font-size: 40px;
        color: #4e6e81;
    }

    .send-button {
        color: white;
        background-color: rgba(78, 110, 129);
        border-style: none;
        height: 60px;
        width: 12%;
        position: relative;
        top: 15px;
        left: 2px;
        font-size: 30px;
        border-radius: 6px;
    }

    .center-chatbox {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        position: absolute;
        top: 120px;
        left: 5%;
        align-items: center;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
        background-color: white;
        height: 60vh;
        display: flex;
        flex-direction: column;
        width: 90vw;
        align-items: stretch;
    }

    .messages {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        flex: 1;
        left: 100px;
        width: 100%;
        height: 1250px;
        max-height: 1250px;
    }

    .text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 40px;
    }

    .muted {
        font-size: 20px;
        color: darkgrey;
    }

    .input {
        position: relative;
        left: 5%;
    }

    #center-messages {
        width: 100%;
        height: 85%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #send-btn {
        width: 13%;
        height: 100%;
        font-size: 40px;
    }

    #center-message {
        width: 80%;
        font-size: 40px;
    }

    .user-chat-input-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      position: absolute;
      left: 23%;
    }

    .user-chat-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    #user-chat-name{
        height:60px;
        width: 100%;
        border: 0.5px solid #4e6e81;
        font-size: 40px;
        color: #4e6e81;
    }

    .user-chat-input label, .user-chat-input input, .user-chat-input button {
      margin: 5px 0;
    }

    .user-chat-input button {
        font-family: 'Montserrat', sans-serif;
        color: white;
        background-color: rgba(78, 110, 129);
        border-radius: 7px;
        width: 500px;
        height: 100px;
        border-style: none;
        font-size: 3rem;
    }

    /* Flash message for chat box*/
    .flash-message-chat-box {
        position: absolute;
        top: 70%;
        width: 500px;
        height: 100px;
        text-align: center;
        padding: 4.5% 0;
        font-size: 2em;
    }
}

/* Styles for laptop screens only */
@media (min-width: 991px) {


    @keyframes ldio-hgg29vfqb7 {
       0% { transform: translate(6px,40px) scale(0); }
      25% { transform: translate(6px,40px) scale(0); }
      50% { transform: translate(6px,40px) scale(1); }
      75% { transform: translate(40px,40px) scale(1); }
     100% { transform: translate(74px,40px) scale(1); }
    }
    @keyframes ldio-hgg29vfqb7-r {
       0% { transform: translate(74px,40px) scale(1): }
     100% { transform: translate(74px,40px) scale(0); }
    }
    @keyframes ldio-hgg29vfqb7-c {
       0% { background: #ffffff }
      25% { background: #ffffff }
      50% { background: #ffffff }
      75% { background: #ffffff }
     100% { background: #ffffff }
    }
    .ldio-hgg29vfqb7 div {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transform: translate(40px,40px) scale(1);
      background: #ffffff;
      animation: ldio-hgg29vfqb7 1s infinite cubic-bezier(0,0.5,0.5,1);
    }
    .ldio-hgg29vfqb7 div:nth-child(1) {
      background: #ffffff;
      transform: translate(74px,40px) scale(1);
      animation: ldio-hgg29vfqb7-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ldio-hgg29vfqb7-c 1s infinite step-start;
    }.ldio-hgg29vfqb7 div:nth-child(2) {
      animation-delay: -0.25s;
      background: #ffffff;
    }.ldio-hgg29vfqb7 div:nth-child(3) {
      animation-delay: -0.5s;
      background: #ffffff;
    }.ldio-hgg29vfqb7 div:nth-child(4) {
      animation-delay: -0.75s;
      background: #ffffff;
    }.ldio-hgg29vfqb7 div:nth-child(5) {
      animation-delay: -1s;
      background: #ffffff;
    }
    .loadingio-spinner-ellipsis-9bjzhgpuh39 {
      width: 26px;
      height: 26px;
      display: inline-block;
      overflow: hidden;
      background: none;
    }
    .ldio-hgg29vfqb7 {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(0.26);
      backface-visibility: hidden;
      transform-origin: 0 0; /* see note above */
    }
    .ldio-hgg29vfqb7 div { box-sizing: content-box; }
    /* generated by https://loading.io/ */

    #submit_button:disabled, #submit_button_project_details_page:disabled{
        display: flex;
        background-color: rgba(78, 110, 129); /* Same background color as enabled state */
        color: #ffffff; /* Same text color as enabled state */
        opacity: 1; /* Reduce opacity to indicate it's disabled */
        cursor: not-allowed;
    }

    .inside-send-button {
        justify-content: flex-start;
        font-size: 110%;
    }

    .loadingio-spinner-ellipsis-9bjzhgpuh39{
        align-items: flex-end;
        font-size: 1000px;
        margin-top: 7px;
        color:black;
    }

    #submit_button:hover, #submit_button_project_details_page:hover{
        background-color: #353535;
    }

    /* Nav Bar border*/
    .nav-top {
        width: 50em;
        height: 5em;
        border-bottom: solid #4e6e81;
    }

    /* flash message area */
    .flash-message {
        position: fixed;
        width: 330px;
        height:11%;
        z-index: 9999;
        right:1%;
        top:2%;
        border: 2px ;
    }

    /* Flash message for chat box*/

    .projects_list_mobile_screen{
        display: none;
    }

    .hover-text {
        display: none; /* Initially hide the text */
    }

    .nav-link:hover .hover-text{
        display: inline; /* Display the text on link hover */
    }

    .nav-menu ul li a {
        font-size: 25px;;
    }

    #new-nav-header {
        position: fixed;
        top: 25%;
        right:2%;
        background-color: rgba(128,128,128, 0.2);
        border-radius:550px;
        z-index: 999;
        width:45px;
        height:300px;
        display: none;
    }

    /* bootstrap card */
    .projects-card {
        margin-left: 1%;
        margin-right: 1%;
        border-radius:40px;
        height: 500px;
        transition: transform 0.3s ease;
        margin-top: 2%;
    }

    .projects-card:hover {
        transform: scale(1.04);
        box-shadow: 0 1px 10px rgba(78, 110, 129, 0.8);
    }

    /* Flask Form */

    .form_field {
        width:90%;
        border: 0.5px solid #4e6e81;
    }

    .textarea-form {
        width:90%;
        height:100px;
    }

    .send_message_button {
        height: 2.5rem;
        margin-top:3%;
        font-size: 110%;
    }


    /*Chat with me button*/

    .chat-button i {
        position: fixed;
        bottom: 7%;
        left: 2%;
        font-size: 3em;
        z-index: 999;
        color: rgba(78, 110, 129);
        transition: transform 0.3s ease;
    }

    .chat-button i:hover {
        transform: scale(1.2);
    }

    /* Styles for the chat container */

    .chat-container {
        flex-direction: column;
        position: fixed;
        bottom: 13%;
        left: 2%;
        width: 25vw;
        height: 80vh;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        align-items: stretch;
        box-shadow: 0 1px 15px rgba(78, 110, 129, 0.5);
        transition: transform 0.3s ease-in-out; /* Add transition for smooth opening/closing */
    }

    .chat-container.open {
        transform: translateY(0);
    }

    /* Styles for the chat header */
    .chat-header {
        margin-bottom: 35%;
        position: relative;
        height: 70px;
        border-radius: 10px 10px 0 0;
        background-color: rgba(78, 110, 129);
        color: white;
        padding: 10px;
    }

    .chat-header-title{
        display: flex;
        font-size: 2rem;
        justify-content:center;
        font-family: 'Montserrat', sans-serif;
        left: 100px;
    }

    /* Styles for the close button in the header */
    .close-chat {
        position: relative;
        bottom: 3rem;
        float: right;
        color: white;
    }

    /* Styles for the chat body -----------------------*/

    .user-chat-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .user-chat-input label, .user-chat-input input, .user-chat-input button {
      margin: 5px 0;
    }

    .user-chat-input button {
        font-family: 'Montserrat', sans-serif;
        color: white;
        background-color: rgba(78, 110, 129);
        border-radius: 3px;
        height: 50px;
        border-style: none;
    }

    .center-chatbox {
        position: absolute;
        top: 20%;
        left: 25%;
        align-items: center;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
        background-color: white;
        height: 60vh;
        display: flex;
        flex-direction: column;
        width: 50vw;
        align-items: stretch;
    }

    .text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

    .muted {
        font-size: 10px;
        color: darkgrey;
    }

    .input {
        position: relative;
        left: 5%;
    }

    .message {
        width: 70%;
    }

    .messages-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .messages {
        overflow-y: scroll;
        flex: 1;
        left: 100px;
        width: 100%;
        height: 63vh;
    }

    #center-messages {
        width: 100%;
        height: 85%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #center-message {
        width: 80%;
    }

    .send-button {
        color: white;
        background-color: rgba(78, 110, 129);
        border-style: none;
        height: 30px;
        position: relative;
        bottom: 1px;
        left: 1px;
    }


}

@media (max-width: 767px)  {
  .header-divider {
    top:12%
  }

  #name_section, #project-title {
    font-size: 50%;
  }

  .name-label {
    margin-top: 20%
  }
}

.button_browse_project, .button_download_resume{
  background-color: #4e6e81;
  font-weight: bold;
  color: white;
  margin-bottom: 3%;
}

/* Animate the browse button */
.button_browse_project {
    border:none;
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Add transitions for smooth animation */
}


.button_browse_project:hover {
  transform: scale(1.1); /* Apply scale transform on hover */
  box-shadow: 0 0 10px rgba(78, 110, 129, 0.7); /* Add a subtle box shadow on hover */
}

/* Add pulsating animation */
@keyframes pulsate {
  0% {
    transform: scale(1); /* Original size at the start of animation */
  }
  50% {
    transform: scale(1.1); /* Scaled up at 50% of the animation */
    box-shadow: 0 0 15px rgba(78, 110, 129, 0.8); /* Enhanced box shadow */
  }
  100% {
    transform: scale(1); /* Back to original size at the end of animation */
  }
}

/* Apply pulsating animation to the button */
.button_browse_project {
  animation: pulsate 2s infinite; /* The animation will repeat indefinitely */
}

.button_download_resume_bottom {
  background-color: #4e6e81;
  font-weight: bold;
  color: white;
  font-size: 110%
}

.glasses {
  display:inline;
  width: 40%;
  height: 40%;
  margin: 11% auto 6.8% 29%;
}

.profile-name {
  font-size: 300%;
}

.email_link:hover {
  text-decoration: none;
  color: #4e6e81
}
.email_link {
  text-decoration: none;
  color: #4e6e81
}

.profile-picture {
  width: 50%;
  height: 50%;
}

#about-page {
  background-color: white;
  margin-top: 85px;
  padding: 8% 10%;
}

#projects-page {
  padding: 2% 2%;
}



.social-media-button {
  cursor: pointer;
  border: none;
  background-color: white;]
}

.button-link:hover {
  text-decoration: none;
  color: #4e6e81;
}



.new-nav-menu ul li a {
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .nav-menu ul li a {
    font-size: 1rem;
  }
}

.image-container {
    margin-top: 140px;
}

#resume_button_top, #resume_button_bottom {
  padding-top: 5%
}

.projects-button {
  width: 120px;
  background-color: #4e6e81;
  font-weight: bold;
  color: white;

}

.contact {
  background-color: #93BFCF;
  border-radius: 50px; /* Use a higher value for a more rounded effect */
}

.contact:hover{
  border-bottom: none;
}

.skill-set-row {
  margin-top: 7%
}

.skills-set-li {
  display: inline-block;
  padding: 0 3% 0 3%;
}

.skills-set-hr {
  margin-top: 3%;
}

.skills-set-list {
    padding: 0.1% 10%;
    padding-bottom: 5%;
    line-height: 3;
}

.br-skills-set-li {
    padding: 20%;
}

.see_more_div {
  margin-top: 3%;
}

.see_more_link {
  padding-right: 0.5em;
}

.see_more_link:hover {
  text-decoration: none;
  color: #4e6e81;
}

.fa-circle, .fa-arrow-right {
  color:#4e6e81;
}

.contact-section {
  background-color: white;
  margin-top: 150px;
  margin-bottom:100px;
  padding: 9% 10%;
}

.contact-information {
  margin-top: 5%;
}

.contact-me-icon{
  margin-right: 5%
}

.social-media-icon-div {
  margin-top: 5%;
}
/* -------------------------- */
#project-title {
  padding-top: 4%;
/*  background-color: white;*/
  margin-top:5%;
  margin-left: 27%;
  margin-right: 27%;
}

.project-gif {
  display: inline;
  width: 50%;
  height: auto;
  margin: 4% auto 6.8% 25%;
}

.project-name {
  font-size: 300%;
}

.home-back-button {
  font-size: 150%;
  position: absolute;
  margin-top: 1%;
  margin-left: 2%;
}

#project-details, #code-sample-section, #add-project {
  margin-left: 27%;
  margin-right: 27%;
}

#add-project {
    margin-top: 6%;
    margin-bottom: 6%;
}

.line-numbers {
  margin-top: 5%;
  margin-bottom: 25%;
  background-color: black;
  color: white;
}

pre {
  box-shadow: 10px 10px 5px gray;
  border-radius: 2%;
}


/* -------------------- */
ul.text-center {
    padding: 0%;
}

/* Footer */
#footer-section {
    margin-bottom:50px;
}

/* Pagination */
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

/* submit button wtf form */
.send_message_button {
    background-color: #4e6e81;
    color: white;
    border: none;
}


/* add - project page*/
#add-project {
    margin
}

.project_name_field {
    width:100%;
}

/* Pagination */
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.card-img-top {
    width:100%;
    height:45%;
    margin-top:3%;
    border-radius:30px;
}

.pagination {
  margin: 0%;
}

.carousel.slide {
    width: 150%; /* or any other value */
    /* other CSS properties */
}

.carousel-item {
    width: 60%;
}

.fa-circle-chevron-left, .fa-circle-chevron-right{
    color: #4e6e81;
}

.item-in-row {
    width:175%;
    padding-left:25%;
    padding-bottom:2.5%;
}

.items-box {
    margin-bottom:4%;
}


.fa-address-card:hover i{
    display:none
}

.nav-link:hover{
  text-align: center;
}

.see_more_projects a{
    font-size:110%;
    text-decoration: none;
    position:absolute;
    top:44%;
    left: 120%;
    width: 200%
}

.see_more_projects:hover a{
    color: #4e6e81;
}

.no-project-list {
    position: absolute;
    top: 50%
}

.giphy-embed{
    margin-top:3%;
    margin-left: 40%;
    width:20%;
    border-radius:10%;
}

#submit_button:disabled, #submit_button_project_details_page:disabled{
    display: flex;
    background-color: rgba(78, 110, 129); /* Same background color as enabled state */
    color: #ffffff; /* Same text color as enabled state */
    opacity: 1; /* Reduce opacity to indicate it's disabled */
    cursor: allowed;
}

#user-chat-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.flash-message-chat-box {
    align-self: center;
    line-height: 2;
    padding-right: 1%;
    padding-left: 1%;
}

.chat-version {
    align-self: baseline;
}