{% block content %}
  {% include "header.html" %}
  <section id="all_projects">
    <div class="container-fluid">
      <div class="row project-row justify-content-center">
        {% if projects %}
          {% for project in projects %}
            <div class="card col-lg-2 col-md-6 col-sm-6 all_projects-card just" style="width: 18rem;">
              <img class="card-img-top" src="data:image/jpeg;base64,{{ project.project_img }}" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">{{ project.project_name }}</h5>
                  <p class="card-text">{{ project.project_overview[:50] }} . . . . . </p>
                  <a href="{{url_for('project_details', id=project.id)}}" class="btn btn-primary btn-outline-dark projects-button" target="_blank">See Details</a>
              </div>
            </div>
            {% if loop.index % 4 == 0 and not loop.last %}
              </div><div class="row project-row">
            {% endif %}
          {% endfor %}
        {% else %}
        <div class="no-project-list">
          <p>Project is under construction. Wait for deployment</p>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}