{% block content %}

<section id="contact-page" class="contact-section">
      <div class="row row-section">
        <div class="contact-me-information col-lg-6">
          <h3 class="contact-me-title">You can find me here:</h3>
          <div class="contact-information">
            <p>
              <a class="button-link" href="tel:6282168897862" target="_blank"><i class="fa-solid fa-phone contact-me-icon"></i>+6282168897862</a>
            </p>
            <p>
              <a class="button-link"href="https://api.whatsapp.com/send?phone=6282168897862" target="_blank"><i class="fa-brands fa-whatsapp contact-me-icon"></i>+6282168897862</a>
            </p>
            <p>
              <a class="button-link" href="mailto:ricky.kristianb@gmail.com" target="_blank"><i class="fa-solid fa-envelope contact-me-icon"></i> ricky.kristianb@gmail.com</a>
            </p>
          </div>
          <div class="social-media-icon-div">
            <a class="button-link" href="https://github.com/rickykristianb" target="_blank">
              <button class="social-media-button" type="button" name="button">
                <i class="fa-brands fa-2xl fa-github"></i>
              </button>
            </a>
            <a class="button-link" href="https://www.linkedin.com/in/rickykbb/" target="_blank">
              <button class="social-media-button" type="button" name="button">
                <i class="fa-brands fa-2xl fa-linkedin"></i>
              </button>
            </a>
            <a class="button-link" href="https://www.instagram.com/rickykrisb/" target="_blank">
              <button class="social-media-button" type="button" name="button">
                <i class="fa-brands fa-2xl fa-instagram"></i>
              </button>
            </a>
          </div>
          <div id="resume_button_top">
            <a href="{{ url_for('download_resume', filename='files/Resume-RickyKristianButarButar.pdf') }}" target="blank"> <button type="button" class="btn btn-outline-dark btn-lg button_download_resume_bottom mx-auto">Download Resume</button></a>
          </div>
        </div>
        <div class="contact-me-form col-lg-6">
          {% if form_for == "homepage" %}
          <form method="post" id="send_message_form">
            {{ form.csrf_token }}
            {{ form.company_name.label }}<br>{{ form.company_name(class_="form_field", id="company_name_field")}}<br>
            {{ form.company_email.label }}<br> {{ form.company_email(class_="form_field", id="company_email_field") }}<br>
            {{ form.message.label }}<br> {{ form.message(class_="textarea-form form_field", id="message_field")}}<br>
            {{ form.submit(class_="btn btn-outline-dark send_message_button") }}
          </form>
          {% else %}
          <form method="post" id="send_message_form_project_details">
            {{ form.csrf_token }}
            {{ form.company_name.label }}<br>{{ form.company_name(class_="form_field", id="company_name_field2" )}}<br>
            {{ form.company_email.label }}<br> {{ form.company_email(class_="form_field", id="company_email_field2") }}<br>
            {{ form.message.label }}<br> {{ form.message(class_="textarea-form form_field", id="message_field2")}}<br>
            {{ form.submit(class_="btn btn-outline-dark send_message_button") }}
          </form>
          {% endif %}
        </div>
      </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
    <script type="text/javascript">
    $(document).on('submit','#send_message_form', function(e)
                   {
      console.log('hello');
      e.preventDefault();
      var formData = {
        company_name: $("#company_name_field").val(),
        company_email: $("#company_email_field").val(),
        message: $("#message_field").val()
      };
      $.ajax({
        type:'POST',
        url:'/',
        data: formData,
        success:function(data)
        {
          var category = data.category;
          var message = data.message;

          $("#flash-message").html('<button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>' + message);
          $("#flash-message").removeClass("alert-success alert-danger");

          if (category === "success") {
          $('#send_message_form')[0].reset();
            $("#flash-message").addClass("alert-success");
          } else if (category === "error") {
            $("#flash-message").addClass("alert-danger");
          }

          $("#flash-message").fadeIn(500).delay(3000).fadeOut(500);
        }
      })
    });
    </script>
    <script type="text/javascript">
    $(document).on('submit','#send_message_form_project_details', function(e)
                   {
      console.log('hello');
      e.preventDefault();
      var formData = {
        company_name: $("#company_name_field2").val(),
        company_email: $("#company_email_field2").val(),
        message: $("#message_field2").val()
      };
      $.ajax({
        type:'POST',
        url:'/',
        data: formData,
        success:function(data)
        {
          var category = data.category;
          var message = data.message;

          $("#flash-message").html('<button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>' + message);
          $("#flash-message").removeClass("alert-success alert-danger");

          if (category === "success") {
          $('#send_message_form_project_details')[0].reset();
            $("#flash-message").addClass("alert-success");
          } else if (category === "error") {
            $("#flash-message").addClass("alert-danger");
          }

          $("#flash-message").fadeIn(500).delay(3000).fadeOut(500);
        }
      })
    });
  </script>

    <section id="footer-section" class="footer">
      <div class="footer text-center">
        <p>
          © Ricky Kristian Butar Butar
        </p>
      </div>
    </section>
  </body>
</html>

{% endblock %}