{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

    <section id="about-page" class="about-section">
      <div class="container-fluid">
        <div class="row about-row">
          <div class="profile-col col-lg-6">
            <div class="profile-picture-div ">
              <img class="profile-picture" src="../static/img/Profile-Picture-About-Page.png" alt="Profile Picture">
            </div>
          </div>
          <div class="profile-headline col-lg-6">
            <div class="about-headline-div">
              <p class="about-headline text-center">
                Driving Innovation and Delivering Results through Clean, Efficient Code
              </p>
            </div>
            <hr />
            <p class="professional-highlight">
              With project management experience transitioning to a software developer role, I am passionate about
              coding and eager to learn new skills and technologies. Throughout my career, I have successfully managed
              and executed multiple projects, ensuring their timely delivery and adherence to quality standards. With a
              strong foundation in Python programming, SQL, and a deep understanding of software development
              principles, I excel in problem-solving, debugging, and coordinating coding projects. I am well-equipped to
              contribute to innovative projects and effectively lead and coordinate teams.
            </p>
            <div id="resume_button_bottom" class="text-center">
              <a href="{{ url_for('download_resume', filename='files/Resume-RickyKristianButarButar.pdf') }}" target="blank"><button type="button" class="btn btn-outline-dark btn-lg button_download_resume mx-auto">Download Resume</button></a>
            </div>
          </div>
        </div>
        <hr class="skills-set-hr"/>
        <div class="row skill-set-row justify-content-center">
          <h2 class="skills-set-title">SKILLS SET</h2>
        </div>
        <div class="skills-set-list">
          <ul class="text-center">
          <li class="skills-set-li">Python</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">SQL</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">Flask</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">HTML</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">CSS</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">Git</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">Github</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">Project Management</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">Inventory Management</li>
        </ul>
        </div>
      </div>
    </section>

    <section id="projects-page">
      <div class="row project-page-title justify-content-center">
        <h2 class="section-heading">PROJECTS</h2>
      </div>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="card col-lg-3 col-md-6 col-sm-6 projects-card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/sample-project-image.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="project-details.html" class="btn btn-primary btn-outline-dark projects-button" target="_blank">See Details</a>
            </div>
          </div>
          <div class="card col-lg-3 col-md-6 col-sm-6 projects-card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/sample-project-image.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="project-detail.html" class="btn btn-primary btn-outline-dark projects-button" target="_blank">See Details</a>
            </div>
          </div>
          <div class="card col-lg-3 col-md-6 col-sm-6 projects-card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/sample-project-image.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="project-details.html" class="btn btn-primary btn-outline-dark projects-button" target="_blank">See Details</a>
            </div>
          </div>
        </div>

        <!-- PAGINATION -->
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
      </div>
    </section>

    {% include "footer.html" %}
   {% endblock %}