{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

      <div class="logo-glasses">
        <img class="glasses" src="../static/img/glasses with code.png">
      </div>

      <div id="name_section">
          <p class="text-center profile-name">Ricky Kristian Butar Butar</p>
      </div>
      <div id="email_section">
          <p class="text-center email_section"><a href = "mailto: ricky.kristianb@gmail.com" class="email_link">ricky.kristianb@gmail.com</a></p>
      </div>
      <div id="project_button" class="text-center">
        <a class="button-link" href="#projects-page">
          <button type="button" class="btn btn-outline-dark btn-lg button_browse_project mx-auto">BROWSE PROJECTS</button>
        </a>
      </div>
      </div>
    </section>
    <section id="about-page" class="about-section">
      <div class="container-fluid">
        <div class="row about-row">
          <div class="profile-col col-lg-6">
            <div class="profile-picture-div ">
              <img class="profile-picture" src="../static/img/Profile-Picture-About-Page.png" alt="Profile Picture">
            </div>
          </div>
          <div class="profile-headline col-lg-6">
            <div class="about-headline-div">
              <p class="about-headline text-center">
                Driving Innovation and Delivering Results through Clean, Efficient Code
              </p>
            </div>
            <hr />
            <p class="professional-highlight">
              With project management experience transitioning to a software developer role, I am passionate about
              coding and eager to learn new skills and technologies. Throughout my career, I have successfully managed
              and executed multiple projects, ensuring their timely delivery and adherence to quality standards. With a
              strong foundation in Python programming, SQL, and a deep understanding of software development
              principles, I excel in problem-solving, debugging, and coordinating coding projects. I am well-equipped to
              contribute to innovative projects and effectively lead and coordinate teams.
            </p>
            <div id="resume_button_bottom" class="text-center">
              <a href="{{ url_for('download_resume', filename='files/Resume-RickyKristianButarButar.pdf') }}" target="blank"><button type="button" class="btn btn-outline-dark btn-lg button_download_resume mx-auto">Download Resume</button></a>
            </div>
          </div>
        </div>
        <hr class="skills-set-hr"/>
        <div class="row skill-set-row justify-content-center">
          <h2 class="skills-set-title">SKILLS SET</h2>
        </div>
        <div class="skills-set-list">
          <ul class="text-center">
          <li class="skills-set-li">Python</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">SQL</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">Flask</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">HTML</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">CSS</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">Git</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">Github</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">Project Management</li><i class="fa-regular fa-circle"></i>
          <li class="skills-set-li">Inventory Management</li>
        </ul>
        </div>
      </div>
    </section>

    <section id="projects-page">
        <div class="row project-page-title justify-content-center">
            <h2 class="section-heading">PROJECTS</h2>
        </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <!-- Start Carousel-->

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for project in projects %}
                            {% if loop.index0 % 3 == 0 %}
                            <div class="carousel-item {% if loop.index0 == 0 %} active{% endif %}">
                                <div class="row item-in-row">
                            {% endif %}
                                    <div class="card col-lg-3 col-md-6 col-sm-6 projects-card" style="width: 18rem;">
                                        <img class="card-img-top" src="data:image/jpeg;base64,{{ project.project_img }}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ project.project_name }}</h5>
                                            <p class="card-text">{{ project.project_overview[:130] }} . . . . . </p>
                                            <a href="{{url_for('project_details', id=project.id)}}" class="btn btn-primary btn-outline-dark projects-button" target="_blank">See Details</a>
                                        </div>
                                    </div>
                            {% if loop.index % 3 == 0 or loop.last %}
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
    </section>


    {% include "footer.html" %}
   {% endblock %}