{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<html lang="en" dir="ltr">
  <body>
    <section id="project-title">
      <div class="title-div text-center">
        <h1 class="project-name">{{ project.project_name }}</h1>
      </div>
    </section>
    <section id="project-image-gif">
      <div class="project-image-gif-div">
        <img src="data:image/jpeg;base64,{{ project.project_img }}" alt="Project Image" class="project-gif">
      </div>
    </section>
    <section id="project-details">
      <p>
          {{ project.project_overview}}
      </p>
    </section>
    <section id="code-sample-section">
      <pre class="line-numbers">
        <code class="code">
          {{ project.project_code_overview }}
        </code>
      </pre>
    </section>

    {% include "footer.html" %}
   {% endblock %}
